// .displayPie {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   width: 90px;
//   background-color: rgba(236, 236, 236, 0.562);
//   span {
//     position: absolute;
//     top: 30px;
//     right: 30px;
//     font-size: 1.3rem;
//     cursor: pointer;
//   }
// }
.pie-container {
  background-color: rgba(236, 236, 236, 0.562);
  // width: 500px;
  height: 100%;
}
.card-title-container {
  background-color: rgb(247, 247, 247);
  font-weight: 400;
  color: #575757;
}

.line-title {
  height: 3px;
  // background-color: rgb(93, 190, 74);
  background-color: #21bfca;
  width: 40px;
  margin-top: -0.3rem;
  border-radius: 1rem;
}

.stats-container {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #e8e4e4;
  display: flex;

  // align-items: center;
  p {
    // z-index: 41 !important;
    margin-top: 0.2rem;
    position: absolute;
    left: 45%;
    // right: 50%;
    z-index: 1;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
  }
}
.terrains {
  // width: 70%;
  position: absolute;
  height: 100%;
  background-color: #2fc659;
}

.bar-line {
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  grid-gap: 1rem;
  span {
    color: #535353;
    font-weight: 300;
    font-size: 0.9rem;
  }
}

.users-details {
  h4 {
    margin: 0;
  }
  &-title {
    margin-top: -0.2rem;
    color: #464646;
    font-size: 1.2rem;
  }
  &-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

// .state_stat {
//   // display: flex;
//   justify-content: center;
// }

/* Showcase */
#showcase {
  margin-bottom: 2rem;
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 50vh;

  padding-top: 4.5rem;
}

#showcase:before {
  content: "";
  background: url("../../../assets/soccer2.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // justify-content: center;
  align-items: center;
  padding: 0rem 6rem;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

.inputFilter {
  &-container {
    span {
      color: #ffffff !important;
      margin-top: 0rem !important;
    }
  }
  &::placeholder {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
  }
  background-color: #fdfdfd77;
  border: none;
  // border-bottom: 3px solid #0eaa28;
  padding: 0.7rem 3rem 0.7rem 1rem;
  // font-size: 0.95rem;
  &:focus {
    color: #f6f6f6;
  }
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.2rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.category {
  --sports-color: #858585;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}
.category-sports {
  background: var(--sports-color);
}

#showcase .showcase-text {
  margin-bottom: 1.5rem;
  .l-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  p {
    // font-weight: 400;
    font-size: 1.2rem;
    color: #e6e6e6;
  }
}
#wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  // height: 45%;
}

.advanced {
  text-decoration: underline;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  color: rgb(221, 221, 221);
  cursor: pointer;
}

// cards
.card-icons {
  // border-top: 1px solid rgb(156, 156, 156);
  padding: 0 0.7rem 0.3rem 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: space-between;
  // text-align: center;

  span {
    // text-align: center;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      color: #cb4f33;
    }
  }
}

.kind {
  // padding: 0.2rem 0.7rem;
  color: #fff;
  position: absolute;
  top: 0rem;
  left: 0rem;
  // display: none;
  font-weight: 500;
  background-color: #2a99cc98;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  // font-size: 0.9rem;
  // pointer-events: none;
  // background-color: #7630af63;
}

.pubs-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  .pub-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0.4rem;
    overflow: hidden;
    // box-shadow: 0px 1px 5px 0px rgba(158, 158, 158, 0.5);
    cursor: pointer;
    border-radius: 7px;
    .title {
      font-size: 1.2rem;
    }
    .card-info {
      .title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.2rem;
      }
    }
    &:hover .kind {
      display: initial;
      // background: red;
    }
  }
  .img-container {
    height: 150px;
    // width: 100%;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      transition: transform 0.2s 0.1s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0eaaaa;
}

.terrain {
  &-label {
    .location {
      span {
        color: rgb(117, 117, 117);
        font-style: italic;
        font-size: 0.7rem;
      }
    }
  }
  &-price {
    padding: 0.3rem 2rem;
    color: #fff;
    font-weight: 500;
    background-color: #299cacbb;
    position: absolute;
    bottom: 2rem;
    right: -1rem;
  }
}

.active {
  background-color: #61b5c1;
  color: #fff;
}

.btn-bascule {
  padding: 0.3rem 0.5rem;
}
