<p class="fs-5 fw-normal">Forget Password ?</p>
<form (ngSubmit)="submitForm()" [formGroup]="askRePasswordForm" class="form g-3">

    <div class="form-group mb-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email">
        <small id="emailHelp" class="form-text text-muted" *ngIf="!askRePasswordForm.controls['email'].errors">We'll
            never share your email with anyone
            else. </small>
        <small
            *ngIf="askRePasswordForm.controls['email'].errors?.required && (askRePasswordForm.controls['email'].touched)"
            class="warning-color">email required</small>
        <small
            *ngIf="askRePasswordForm.controls['email'].errors?.pattern && (askRePasswordForm.controls['email'].touched)"
            class="warning-color"> email invalid
        </small>

    </div>

    <div class="form-group mb-2">
        <button type="submit" [disabled]="askRePasswordForm.disabled || askRePasswordForm.invalid"
            class="btn btn-primary">Send</button>
    </div>
</form>


<div class="my-2">
    <span class="xs">we'll send you an email to change your password</span>
</div>
<div *ngIf="codeResponse===1" class="alert alert-success" role="alert">
    email sent! check you inbox to reset your password.
</div>
<div *ngIf="codeResponse===-1" class="alert alert-warning" role="alert">
    email invalid
</div>
<div *ngIf="codeResponse===-2" class="alert alert-warning" role="alert">
    something went wrong, please try again later
</div>

<div *ngIf="loader" class="spinner-grow primary-color" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
</div>