<form (ngSubmit)="submitForm()" *ngIf="codeResponse === 1" [formGroup]="resetPasswordForm" class="form g-3">
    <p class="fs-5 fw-normal">Create New Password</p>

    <div class="form-group mb-2">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
            <input type="{{showPassword ? 'text' : 'password'}}" appBlockCopyPaste formControlName="password"
                class="form-control" id="password" aria-label="confirmPassword" aria-describedby="addon-wrapping">
            <span [ngClass]="showPassword ?  'fa-eye': 'fa-eye-slash'"
                class="fa m-1 p-2 position-absolute right showpassword" (click)="showPassword = !showPassword"></span>
        </div>
        <small
            *ngIf="resetPasswordForm.controls['password'].errors?.required && (resetPasswordForm.controls['password'].touched)"
            class="warning-color">password required</small>
        <small
            *ngIf="resetPasswordForm.controls['password'].errors?.pattern && (resetPasswordForm.controls['password'].touched)"
            class="warning-color"> password invalid (should contains 1 uppercase, 1 number)
        </small>
    </div>

    <div class="form-group mb-2">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <div class="input-group">
            <input type="{{showConfirmPassword ? 'text' : 'password'}}" appBlockCopyPaste
                formControlName="confirmPassword" class="form-control" id="confirmPassword" aria-label="confirmPassword"
                aria-describedby="addon-wrapping">
            <span [ngClass]="showConfirmPassword ?  'fa-eye': 'fa-eye-slash'"
                class="fa m-1 p-2 position-absolute right showpassword"
                (click)="showConfirmPassword = !showConfirmPassword"></span>
        </div>
        <small
            *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.required && (resetPasswordForm.controls['confirmPassword'].touched)"
            class="warning-color"> wrong password (Doesn't match password)
        </small>

        <small
            *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.MatchPassword && (resetPasswordForm.controls['confirmPassword'].touched)"
            class="warning-color"> wrong password (Doesn't match password)
        </small>
    </div>

    <div class="form-group mb-2">
        <button type="submit" [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid"
            class="btn btn-primary">Confirm</button>
    </div>
</form>


<p *ngIf="rePasswordCodeResponse === 1" class="alert alert-success" role="alert"> Password modified, <a
        routerLink="/auth/login" class="fw-bolder text-decoration-underline">Sign in</a>
</p>
<p *ngIf="rePasswordCodeResponse === -1 || codeResponse===-1" class="alert alert-warning" role="alert"> something went
    wrong, please try
    again later
</p>
<p *ngIf="rePasswordCodeResponse === -2" class="alert alert-warning"> try with another link sent in your inbox, this is
    for
    security reasons. Thank you for helping us</p>

<div *ngIf="loader" class="spinner-grow primary-color" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
</div>