<div class="container-fluid w-100 h-100">
    <div class="row min-vh-100">
        <div class="col-sm-12 col-md-5 leftSide d-sm-none d-none d-md-block">
            <a routerLink='/pages/home' class="logo"><img src="../../assets/logo.png" alt=""></a>
            <div class="content py-3">
                <p class="lead">make it easy for <br>yourself</p>
                <img alt="Haya Kawer logo" class="img-fluid brand-logo" src="assets/vector_man_auth.png">
            </div>
        </div>
        <div class="col-md-7 col-sm-12 bg-dark-blue">
            <div class="col-md-10 col-10 d-md-block d-md-none mb-4 mt-3 m-auto">
                <a class="" routerLink='/pages/home' class="logo">Hayakawer</a>
            </div>

            <div class="col-md-10 col-10 col-lg-7 m-auto mt-md-5 pt-md-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>




<!-- <div class="row form-page">
    <div class="form-page-leftSide col-5">
        <a routerLink='/pages/home' class="logo">Hayakawer</a>
        <div class="form-page-leftSide-content py-3">
            <p class="lead">make it easy for <br>yourself</p>
            <img src="assets/vector_man_auth.png" alt="">
        </div>
    </div>
    <div class="form-page-rightSide col-7">
        <router-outlet></router-outlet>
    </div>
</div> -->