<!-- <div class="container">
    <div class="card-mine center-center d-flex  py-4 p-3 flex-md-column" *ngIf="currentUser.userType === 'client'">
        <h4>Add terrain ? </h4>
        <p><span class="fas fa-exclamation-triangle" style="color: rgb(83, 83, 83);"></span> Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.
            Possimus accusantium alias perferendis aliquid nemo
            nostrum amet aut quibusdam, recusandae similique iure doloremque adipisci nobis ducimus odit. Itaque harum
            ut
            officia.</p>
        <span class="btn" (click)="addPropUser()"> add new terrain</span>
    </div>
</div> -->